---
layout: default
title: Security
---
<div id="content">
  <div class="container txt-lefty">
    <div class="row">
      <div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
        <h2>This page is work in progress</h2>
        <h3>Security of GitLab as an open-source product</h3>
            <p>
                GitLab CE is open source and has over 700 contributors.
                This means there have been over 700 pairs of eyes looking at the GitLab CE source code.
                GitLab EE is open-core, which means the source code is also open for inspection to our customers.
            </p>

        <h3>GitLab development guidelines</h3>
           <p>
                <a href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/doc/development/shell_commands.md">Guidelines for shell commands in the GitLab codebase</a>
            </p>
            <p>
                For community contributions, we enforce <a href ="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/CONTRIBUTING.md#style-guides">style guides</a>.
                In addition, both for community contributions and for internal development, we use <a href="http://brakemanscanner.org/">brakeman</a> and <a href="https://github.com/bbatsov/rubocop">RuboCop </a> run by GitLab CI.
            </p>
            <p>
                We engage security experts to do white box testing such as fault injection (manual), penetration testing (manual) and vulnerabilities testing (both automatic, and manual)
            </p>
                GitLab also has a <a href="https://about.gitlab.com/disclosure/">responsible disclosure program </a>.
            </p>
      </div>
    </div>
  </div>
</div>